[Unit]
Description=fireworm
After=network.target

[Service]
Type=forking
PIDFile=/run/fireworm.pid
ExecStart=/root/fireworm-schedule/start
ExecReload=/root/fireworm-schedule/restart
ExecStop=/root/fireworm-schedule/stop
#PrivateTmp=true

[Install]
WantedBy=multi-user.target
